header {
  font-family: Inter;
  color: rgb(92, 73, 200);
}

img {
  display: block;
  margin: auto;
}
body {
  background-image:url(/FOTOS/repeated-square-dark.png);
  background-attachment: fixed;
  margin: 40px 80px;
  border: rgb(rgb(255, 0, 0), green, blue);
  border-radius: 10px;
  padding: 1px;
  box-shadow: darkblue 100px;
}


/*  .tamanoimagen {
  width: 1000px;
  height: 700px;
}
*/


/*.fotoshombre {
  justify-content: start;
  align-items:flex-end;
  display: flex;
} */

.dalee{
  cursor: pointer;
  display: none;
}
.mostrarremes{
  cursor: pointer;
  display: none;
}
.pantmostrar{
  cursor: pointer;
  display: none;
}
.campmostrar{
  cursor: pointer;
  display: none;
}
.zapmostrar{
  cursor: pointer;
  display: none;
}
.botasmostrar{
  cursor: pointer;
  display: none;
}
.accesorios{
  cursor:pointer;
  display: none;
}
.shoes{
  cursor: pointer;
  display: none;
}
.textiles {
  font-family: "Inter";
  color: rgb(53, 4, 93);
}
.links {
  font-family: "Inter";
  color: rgb(255, 89, 205);
}
footer {
  font-family: "Inter";
  color: rgb(255, 116, 10);
}
.safari { width: 30%;
  border-radius: 12px;

}

#container {
  background-color: rgb(79, 78, 148);
  font-family: "Inter",sans-serif;
max-width: 1200px;
margin: 0 auto;
margin-top: 2vh;
}
.card{
  border: 1px solid #bacdd8;
  padding: 8px;

  border-radius: 12px;
}
#remel{
  cursor: pointer;
}
.card__details {
  padding: 16px 8px 8px 8px;
}





* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}