body {

    background-color: rgb(255, 255, 255);
    margin: 40px 80px;
    border: rgb(rgb(255, 0, 0), green, blue);
    border-radius: 10px;
    padding: 1px;
    box-shadow:darkblue 100px; }

    img{
        display:block;
        margin:auto;
        }
.textiles{
    color:rgb(255, 0, 0);
    font-family: "Inter";
}