header {
font-family: Inter;
    color: rgb(55, 116, 156);
}
body {

    background-color: rgb(187, 124, 168);
    margin: 40px 80px;
    border: rgb(rgb(255, 0, 0), green, blue);
    border-radius: 10px;
    padding: 1px;
    box-shadow:darkblue 100px; }

    img{
        display:block;
        margin:auto;
        }
.textiles{
    color:rgb(134, 146, 185);
    font-family: "Inter";
}
.links {
    font-family: "Inter";
    color: rgb(255, 89, 205);
}
footer{
    font-family: "Inter";
    color: rgb(197, 181, 169);
}