body {
  background-color: rgb(247, 235, 232);
  margin: 40px 80px;
  border: rgb(rgb(255, 0, 0), green, blue);
  border-radius: 10px;
  padding: 1px;
  box-shadow:darkblue 100px

  /* Para Organizar Listas */
  justify-content:flex-start;
  flex-direction: column;
  align-items:flex-start;
}

img{
  display:block;
  margin:auto;
  }

/* IDENTIFICAR CLASE  */
.secciones{
  color: rgb(229, 75, 75);
  font-size: xx-large;
  flex-direction: unset;
}
.Titulo{
color: rgb(229, 75, 75);
text-align: center;
font-size: 80px;
}

.Fotos{
align-items: center;

{
  
  font-size:medium;
  font-weight: 1500;
  font-family: "Inter", sans-serif;
  font-style:inherit;
  
}

.Realizado {

  color:rgb(236, 115, 87) ;
  font-family: "Inter", sans-serif;
}

/* Toda la pagina con el mismo estilo */


/* IDENTIFICAR ID {#} */
/* DENTRO DE LA PRIMERA ETIQUETA PONER ID=NOMBRE DE ID */


